.plink {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: clamp(0px, 100%, 120px);
    height: clamp(0px, 100%, 180px);
    
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;

    font-size: 1em;
    text-decoration: none;

    color: var(--col_4);
}
.plink:hover {
    border-color: var(--col_4);
}
.plink:active {

    background-color: hsla(0, 0%, 0%, 0.1);
}