* {
  padding: 0;
  border: 0;
  margin: 0;

  box-sizing: border-box;

  user-select: none;
}

:root {
  --col_1: hsl(0, 0%, 100%);
  --col_2: hsl(0, 0%, 95%);
  --col_3: hsl(0, 0%, 85%);
  --col_4: hsl(0, 0%, 41%);
  --col_5: #FFC44F;
}

html,body {
  width: 100%;
  height: 100vh;
}

html {
  background-color: var(--col_1);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 10%;

  padding: 10px 25px;
}

main {
  width: 100%;
  height: 90%;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 0.8em;
  }
}